<html>
<head>
  <title>Angular Store Application</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script type="text/javascript" src="services.js"></script>
</head>
<body ng-app="AppStore">

<input type="text" ng-model="searchFilter">
<table ng-controller="dataCtrl">
  <caption>Prodacts</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in storeData.allItems | filter:searchFilter">
      <td>{{item.name | uppercase}}</td>
      <td>{{item.price | uppercase}}</td>
      <td>{{item.description | lowercase}}</td>
    </tr>
  </tbody>
</table>

</body>
</html>
