<div ng-controller="ArticleListCtrl" class="container">

  <div ng-repeat="ac in articles" >
    <div class="row" style="background-color: rgb(163, 163, 184);">
          <header class="twelve columns text-right">
                <h5 style="floet:right;">{{ac.category}}</h5>
            </header>
   </div>

    <div ng-repeat="a in ac.art" class="row">
            <a href="#articles/{{a.articleId}}" > <!-- ng-click="goToArticle(a.articleId)" -->
            <div class="small-4 columns">  <!-- hide-on-phones -->  <!-- <aside> -->
                    <img  class="th [radius]" ng-src="{{a.imageUrl}}" >
            </div>
            <div class="main small-8 columns text-justify"><!--  main  -->
                <p>{{a.title}}</p>
            </div>
            </a>
    </div>

    <div class="row" style="background-color: rgb(143, 143, 184);border-bottom-width:1px; border-bottom-style:dashed;">
            <footer class="twelve columns">
                <span>More...</span>
            </footer>
    </div>
</div>
</div>