<div ng-controller="ArticlesCategoryCtrl" class="container">
  <a href="#articles/{{firstArticle.articleId}}" >
    <div class="row" >
          <header class="twelve columns text-right" style="margin-right: 10px;background-color: rgba(110, 110, 100, 0.5);position:absolute">
                <h5 style="floet:right;color:white;font-weight:bold;">{{firstArticle.title}}</h5>
          </header>
          <img src="{{firstArticle.imageUrl}}" style="height: 240px;width:100%">
   </div>
</a>
  <div  >
    <div ng-repeat="a in articles" class="row">
            <a href="#articles/{{a.articleId}}" >
            <div class="small-4 columns">
                    <img  class="th [radius]" ng-src="{{a.imageUrl}}" >
            </div>
            <div class="main small-8 columns text-justify">
                <p style="font-weight:bold;">{{a.title}}</p>
            </div>
            </a>
    </div>
</div>
</div>