<div ng-controller="ArticleCtrl" class="container">
 <div class="row" >
          <header class="twelve columns text-right" style="margin-right: 10px;background-color: rgba(110, 110, 100, 0.5);position:absolute">
                <h5 style="floet:right;color:white;font-weight:bold;">{{article.title}}</h5>
          </header>
          <img src="{{article.imageUrl}}" style="height: 240px;width:100%">
   </div>
  <div class="row">
          <header class="twelve columns text-right">
                <h3 style="floet:right;font-weight:bold;">{{article.subTitle}}</h3>
            </header>
   </div>
<div class="row">
      <div class="twelve columns text-right">
            <articlecontentparser trustedhtml="{{article.content}}" style="floet:right;"></articlecontentparser>
      </div>
</div>
</div>
