<div ng-controller="CarModelCtrl" class="container">
 <div class="row" >
      <header class="twelve columns text-right" style="background-color: rgba(110, 110, 100, 0.3);position:absolute;display:block">
            <h5 style="floet:right;color:white;font-weight:bold;">{{model.name}}</h5>
      </header>
      <img src="{{model.image_url}}" style="height: 240px;width:100%">
   </div>
  <div class="row">
          <header class="twelve columns text-right">
                <h3 style="floet:right;font-weight:bold;">{{model.price}}</h3>
            </header>
   </div>
<div class="row">
      <div class="twelve columns text-right">
      </div>
</div>
</div>