<div ng-controller="CarModelCtrl" class="container">
  <div class="row" >
    <header class="twelve columns text-right image-header">
          <h5>{{model.name}}</h5>
    </header>
    <img src="{{model.image_url}}" class="image-magazine">
  </div>
  <div class="row">
    <header class="small-6 columns text-right">
      <h4>:קטגוריה</h4>
    </header>
    <header class="small-6 columns">
      <h4>{{model.category}}</h4>
    </header>
  </div>
  <div class="row">
    <header class="small-6 columns text-right">
      <h4>:מחיר</h4>
    </header>
    <header class="small-6 columns">
      <h4 >{{model.price}}</h4>
    </header>
  </div>
  <div class="row">
    <header class="small-6 columns text-right">
      <h4>:מבחני ריסוק</h4>
    </header>
    <header class="small-6 columns">
      <h4 startsimage starstext="{{model.safetyStars}}"></h4>
    </header>
  </div>
  <div class="row">
    <div class="twelve columns text-center">
      <a href="#" class="button radius round secondary success large expand">יעוץ חינם על {{model.name}}</a>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns text-center">
      <a href="#" class="button radius round secondary success large expand">הוספה למועדפים</a>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns text-right">
      <textarea class="text-right" disabled="disabled" placeholder="small-12.columns">{{model.review.summary}}</textarea>
    </div>
  </div>
  <div class="row">
    <ul class="pricing-table">
      <li ng-repeat="td in tableData" class="row bullet-item">
        <a href="{{td.link}}">
          <div class=" text-right">
              <p style="color:black">{{td.title}}</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>