<div ng-controller="ManufacturersCtrl" class="container">
  <div ng-repeat="mf in manufacturers" >
    <div class="row" style="background-color: rgb(163, 163, 184);box-shadow: 1px 2px 0.5px #888888;">
      <header class="twelve columns text-right">
        <h5 style="font-weight:bold;font-size:x-large;">{{mf.key}}</h5>
      </header>
    </div>

    <div ng-repeat="col in mf.collection" class="row">
      <a href="#articles/carcatalog?isSelected" ng-click="onSelectMF(col)">
        <div class="main small-12 columns text-right" style="border-bottom-color:light-black;border-bottom-width:thin;border-bottom-style:groove">
            <p style="color:black">{{col.name}}</p>
        </div>
      </a>
    </div>
  </div>
</div>