<div ng-controller="ModelsCtrl" class="container">
  <div class="row">
    <ul class="button-group radius round  twelve columns">
    <li><a href="#" class=" button secondary new-used ">חדש</a></li>
    <li><a href="#" class=" button secondary new-used">משומש</a></li>
  </ul>
  </div>
  <ul class="pricing-table">
  <div ng-repeat="m in models" >
      <li class="title">{{m.key}}</li>
      <li ng-repeat="col in m.collection" class="row bullet-item">
        <a href="#articles/carcatalog?isSelected" ng-click="onSelectM(col)">
          <div class="expand text-right">
              <p>{{col.name}}</p>
          </div>
        </a>
    </li>
    </div>
  </ul>
</div>